[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudpathlib = {extras = ["azure"], version = "*"}
loguru = "*"
tdqm = "*"
typer = "*"
pandas-path = "*"
jupyter = "*"
pytorch-lightning = "*"
jupyterlab = "*"
matplotlib = "*"
rasterio = "*"
pyproj = "*"
rioxarray = "*"
xarray-spatial = "*"
segmentation-models-pytorch = "*"
pandas = "==1.2.5"

[dev-packages]

[requires]
python_version = "3.9"
